/* Place CSS styles here */
body {
  background-color: dark grey;
}

.button {
  background-color: #5622a8;
  color: #efefef;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 12px;
}

body {
  background-color: black;
}
.p-color {
  color: white;
}