/* Place CSS styles here */
body {
  background-color: dark grey;
}

.button {
  background-color: #5622a8;
  color: #efefef;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 12px;
}

body {
  background-color: black;
}

body{
  padding: 20px;
  text-align: center;
  text-emphasis-color: white;
}

h1,h2 {
  color: white;
}

<head>
   <style>
      .p {color:blue};
   </style>
</head>